<h3>Account</h3>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">CIDR</th>
            <th scope="col">2^(32-n)</th>
            <th scope="col">Available</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= results.accountCIDRBlock %>
            </td>
            <td>
                <%= ip.cidrSubnet(results.accountCIDRBlock).length %>
            </td>
            <td>
                <%= ip.cidrSubnet(results.accountCIDRBlock).numHosts %>
            </td>
            <td>
                <%= ip.cidrSubnet(results.accountCIDRBlock).networkAddress %>
            </td>
            <td>
                <%= ip.cidrSubnet(results.accountCIDRBlock).broadcastAddress %>
            </td>
        </tr>
    </tbody>
</table>

<% if (results.cidrBlockingResults.length > 1) { %>
    <h3>Simplest Coverage CIDR Blocking (SCCB)</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">CIDR</th>
                <th scope="col">2^(32-n)</th>
                <th scope="col">Available</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <script>var csvTableContent = "CIDR,2^(32-n),Available,First,Last\n";</script>
            </tr>
        </thead>
        <tbody>
            <% for (let cidrBlock of results.cidrBlockingResults) { %>
                <tr>
                    <td>
                        <%= cidrBlock %>
                        <script>csvTableContent = csvTableContent + "<%= cidrBlock %>,";</script>
                    </td>
                    <td>
                        <%= ip.cidrSubnet(cidrBlock).length %>
                        <script>csvTableContent = csvTableContent + "<%= ip.cidrSubnet(cidrBlock).length %>,";</script>
                    </td>
                    <td>
                        <%= ip.cidrSubnet(cidrBlock).numHosts %>
                        <script>csvTableContent = csvTableContent + "<%= ip.cidrSubnet(cidrBlock).numHosts %>,";</script>
                    </td>
                    <td>
                        <%= ip.cidrSubnet(cidrBlock).networkAddress %>
                        <script>csvTableContent = csvTableContent + "<%= ip.cidrSubnet(cidrBlock).networkAddress %>,";</script>
                    </td>
                    <td>
                        <%= ip.cidrSubnet(cidrBlock).broadcastAddress %>
                        <script>csvTableContent = csvTableContent + "<%= ip.cidrSubnet(cidrBlock).broadcastAddress %>,\n";</script>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>


    <div class="row justify-content-center">
      <button id="cidrTableCopy" type="button" class="btn btn-outline-success btn-sm" data-clipboard-text="Just because you can doesn't mean you should — clipboard.js">Copy to Clipboard (csv)</button>
    </div>
    <script>
      $("#cidrTableCopy").attr("data-clipboard-text",csvTableContent);
      new ClipboardJS('#cidrTableCopy');
    </script>
<% } %>
